.parent {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: orange;
    border: 3px solid black;
    border-radius: 15px;
    align-self: flex-end; /* Aligner le bloc à droite */
    max-width: fit-content; /* Ajuster la largeur au contenu */
    margin-left: auto;
}


.pouvoirs {
margin-left: 1000px;
}
.Communautée {
margin-Right: 10px;
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.left-image, .right-image {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-image {
    background-color: #f0f0f0;
}

.right-image {
    background-color: #e0e0e0;
}

img {
    max-width: 100%;
    height: auto;
}

h2, p {
    text-align: center;
}



@media screen and (max-width: 1000px) {

section {
  text-align: justify-all;
  position:relative;
  margin-bottom: auto;
}
.text-content, image-content {
  width: 50%;
}
.parent {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: orange;
    border: 3px solid black;
    border-radius: 15px;
    max-width: fit-content; /* Ajuster la largeur au contenu */

}
.pouvoirs {
    margin-left: 60PX;
    }
    .Communautée {
    margin-Right: 60px;
    }
}
